[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[pipenv]
# allow prereleases for install tensorflow
allow_prereleases = true

[packages]
kfp = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
isort = "*"
pre-commit = "*"
